<div class="col">
    <div class="card">
        <div class="card body bg-{{color}} text-white text-center">
            <i class="{{icone}} fa-2x mb-3 mt-3"></i>
            <p class="card-text">{{text}}</p>
        </div>
    </div>
</div>